body {
	background: url('bg.png');
}
.container {
	width: 40%;
	margin-left: 30%;
	background-color: #03c;
	border-style: solid;
	border-radius: 10px;
	margin-top: 20%;
}
input {
	width: 60%;
	margin-left: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
}